<md-card class="md-whiteframe-1dp">
<div class="table-responsive-vertical">
	<md-toolbar class="md-padding">
	  <div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:52px;">
	    <md-icon md-svg-src="css/icons/web_icon.svg" style="color:#FFFFFF;width:100px;height:100px;"></md-icon>
	    <div><h3>My Guide</h3></div>
	  </div>
	</md-toolbar>
	<div class="md-padding">
	  <div layout="row" layout-padding layout-align="center" class="md-padding">
		  <div layout="column" >
		   	<p>The web admin console for android app My Guide.</p>
		  </div>
	  </div>
	  <div layout="row" layout-align="center">
		  <div layout="column">
		    <p class="note" style="text-align:center;">Developed by Casper N'drih and Isaac Silas</p>
		  </div>
	  </div>
	</div>
</div>
</md-card>
